<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="cadastro.css">
        <title>Login</title>
    </head>
    <body>
        <div id="cabecalho">
            <img src="logo.png" alt="logo" width="50px" height="50px" style="margin-top: 5px; margin-left: 20%; float: left;">
            <h1 id="xhoppi">Xhoppi</h1>
            <a id="ajuda" href="telalogin.html">Sair</a>
        </div>
        <div class="centro" id="bloco">
            <p style="padding-top: 20px; font-size: larger; margin-bottom: 0px;">Login</p>
            <form>
                <input type="text" placeholder="Nome" name="nome" class="formulario">
                <input type="text" placeholder="Sobrenome" name="sobrenome" class="formulario">
                <input type="text" placeholder="CPF" name="cpf" class="formulario">
                <input type="date" name="datanasc" class="formulario">
                <input type="text" placeholder="Telefone" name="fone" class="formulario">
                <input type="text" placeholder="Email" name="email" class="formulario">
                <input type="password" placeholder="Senha" name="senha" class="formulario"> 
            </form>
            <p style="color: orangered; font-weight: 700;">Selecionar foto de perfil:</p>
            <div id="entrar" class="centro">
                <a style="color: white; font-weight: 700; display: block; margin-top: 4px;" href="telalogin.html">CADASTRAR</a>
            </div>
        </div>
        <div id="fundo">

        </div>
    </body>
</html>