<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="redefinirSenha.css">
        <title>Esqueci a Senha</title>
    </head>
    <body>
        <div id="cabecalho">
            <img src="logo.png" alt="logo" width="50px" height="50px" style="margin-top: 5px; margin-left: 20%; float: left;">
            <h1 id="xhoppi">Xhoppi (Redefinir Senha)</h1>
            <p id="ajuda">Precisa de ajuda?</p>
        </div>
        <div class="centro" id="bloco">
            <a href="telalogin.html">
            <img src="seta.png" alt="seta" width="25px" height="25px" style="float: left; margin-left: 10px; margin-top: 10px;">
            </a>
            <p style="padding-top: 40px; font-size:x-large;">Redefinir Senha</p>
            <form>
                <input type="text" placeholder="Email" name="email" class="formulario">
            </form>
        <div id="entrar" class="centro">
            <a style="color: white; font-weight: 700; display: block; margin-top: 4px;" href="home.html">ENTRE</a>
        </div>
        </div>
        <div id="fundo">

        </div>
    </body>
</html>