<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../assets/telalogin.css">
        <title>Login</title>
        <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    </head>
    <body>
        <div id="cabecalho">
            <img src="../assets/img/logo.png" alt="logo" width="50px" height="50px" style="margin-top: 5px; margin-left: 20%; float: left;">
            <h1 id="xhoppi">Xhoppi</h1>
            <p id="ajuda">Precisa de ajuda?</p>
        </div>
        <div class="centro" id="bloco">
            <p style="padding-top: 20px; font-size: larger;">Login</p>
            <form>
                <input type="text" placeholder="Email" name="email" class="formulario">
                <input type="password" placeholder="Senha" name="senha" class="formulario" style="margin-top: 40px;">
            </form>
            <div id="entrar" class="centro">
                <a style="color: white; font-weight: 700; display: block; margin-top: 4px;" href="home.html">ENTRE</a>
            </div>
            <div>
                <a style="float: left; font-size: small; margin-left: 50px; margin-top: 20px;" href="redefinirSenha.html">Esqueci minha senha</a>
                <a style="float: right; font-size: small; margin-right: 50px; margin-top: 20px; color: blue;">Fazer login com SMS</a>
            </div>
            <div>
                <br>
                <br>
                <div style="float:left; width: 44%; margin-top: 15px;"><hr/></div>
                <div style="float:right; width: 44%; margin-top: 15px;"><hr/></div>
                <p>OU</p>
            </div>
            <div>
                <div class=opcoes>
                    <p class="opcoestexto" style="margin-right: 8px">Facebook</p>
                    <img src="../assets/img/facebook.png" alt="facebook" class="opcoesimagem">
                </div>
                <div class=opcoes>
                    <p class="opcoestexto" style="margin-right: 15px">Google</p>
                    <img src="../assets/img/google.png" alt="google" class="opcoesimagem">
                </div>
                <div class=opcoes>
                    <p class="opcoestexto" style="margin-right: 20px">Apple</p>
                    <img src="../assets/img/apple.png" alt="apple" class="opcoesimagem">
                </div>
                <div>
                    <br>
                    <p style="float: left; color: gray; margin-left: 100px;">Novo na Xhoppi?</p>
                    <a style="float: right; color: orangered; margin-right: 100px; margin-top: 16px;" href="cadastroCliente.html">Cadastrar</a>
                </div>
            </div>
        </div>
        <div id="fundo">
            <div class="conjunto">
                <a class="titulosFundo">Atendimento ao Cliente</a>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhoppi</p>
                <p>Devolução e Reembolso</p>
                <p>Fale Conosco</p>
                <p>Ouridoria</p>
            </div>
            <div class="conjunto">
                <a class="titulosFundo">Sobre a Xhoppi</a>
                <p>Central de Ajuda</p>
                <p>Como Comprar</p>
                <p>Métodos de Pagamento</p>
                <p>Garantia Xhoppi</p>
                <p>Devolução e Reembolso</p>
                <p>Fale Conosco</p>
                <p>Ouridoria</p>
            </div>
            <div class="conjunto">
                <a class="titulosFundo">Pagamento</a> <br> <br>
                <img src="../assets/img/logo-pix.png" alt="pix" class="pagamento">
                <img src="../assets/img/logo-boleto.png" alt="boleto" class="pagamento">
                <img src="../assets/img/logo-american-express.png" alt="american" class="pagamento">
                <img src="../assets/img/logo-visa.png" alt="visa" class="pagamento">
                <img src="../assets/img/logo-mastercard.png" alt="mastercard" class="pagamento">
                <img src="../assets/img/logo-hipercard.png" alt="hipercard" class="pagamento">
                <img src="../assets/img/logo-elo.png" alt="elo" class="pagamento">
            </div>
            <div class="conjunto">
                <a class="titulosFundo">Siga-nos</a>
                <br>
                <img src="../assets/img/logo-instagram.png" alt="instagramPreto" class="redes" style="margin-top: 10px;">
                <a>Instagram</a> <br>
                <img src="../assets/img/logo-twitter.png" alt="twitterPreto" class="redes">
                <a>Twitter</a> <br>
                <img src="../assets/img/logo-facebook.png" alt="facebookPreto" class="redes">
                <a>Facebook</a> <br>
                <img src="../assets/img/logo-youtube.png" alt="youtubePreto" class="redes">
                <a>Youtube</a> <br>
                <img src="../assets/img/logo-linkedln.png" alt="linkedinPreto" class="redes">
                <a>LinkedIn</a>
            </div>
            <div class="conjunto">
                <a class="titulosFundo">Atendimento ao Cliente</a>
                <img src="../assets/img/qr-code.png" alt="qrcode" style="margin-top: 10px; height: 120px; width: 120px;"> <br>
                <img src="../assets/img/logo-google-play.png" alt="googleplay" style="margin-top: 10px; height: 34px; width: 104px; background-color: white;"> <br>
                <img src="../assets/img/logo-store-apple.png" alt="appstore" style="margin-top: 10px; height: 34px; width: 104px; background-color: white;">
            </div>
        </div>
    </body>
</html>