body {
    background-color: orangered;
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#cabecalho {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
}

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.formulario {
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

#entrar {
    background-color: orangered;
    width: 300px;
    height: 30px;
    margin-top: 50px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#bloco {
    background-color: whitesmoke;
    height: 500px;
    width: 400px;
    margin-top: 15px;
    border-radius: 2%;
}

#xhoppi {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:orangered;
    font-size: x-large;
}

#ajuda {
    float: right;
    color: orangered;
    margin-right: 20%;
    margin-top: 20px;
}