<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="telalogin.css">
        <title>Login</title>
    </head>
    <body>
        <div id="cabecalho">
            <img src="logo.png" alt="logo" width="50px" height="50px" style="margin-top: 5px; margin-left: 20%; float: left;">
            <h1 id="xhoppi">Xhoppi</h1>
            <p id="ajuda">Precisa de ajuda?</p>
        </div>
        <div class="centro" id="bloco">
            <p style="padding-top: 20px; font-size: larger;">Login</p>
            <form>
                <input type="text" placeholder="Email" name="email" class="formulario">
                <input type="password" placeholder="Senha" name="senha" class="formulario" style="margin-top: 40px;">
            </form>
            <div id="entrar" class="centro">
                <a style="color: white; font-weight: 700; display: block; margin-top: 4px;" href="home.html">ENTRE</a>
            </div>
            <div>
                <a style="float: left; font-size: small; margin-left: 50px; margin-top: 20px;" href="redefinirSenha.html">Esqueci minha senha</a>
                <a style="float: right; font-size: small; margin-right: 50px; margin-top: 20px; color: blue;">Fazer login com SMS</a>
            </div>
            <div>
                <br>
                <br>
                <div style="float:left; width: 44%; margin-top: 15px;"><hr/></div>
                <div style="float:right; width: 44%; margin-top: 15px;"><hr/></div>
                <p>OU</p>
            </div>
            <div>
                <div class=opcoes style="margin-left: 30px; float: left;">
                    <p class="opcoestexto" style="margin-right: 8px">Facebook</p>
                    <img src="facebook.png" alt="facebook" class="opcoesimagem">
                </div>
                <div class=opcoes style="margin-left: 30px; float: left;">
                    <p class="opcoestexto" style="margin-right: 15px">Google</p>
                    <img src="google.png" alt="google" class="opcoesimagem">
                </div>
                <div class=opcoes style="margin-right: 30px; float: right;">
                    <p class="opcoestexto" style="margin-right: 20px">Apple</p>
                    <img src="apple.png" alt="apple" class="opcoesimagem">
                </div>
                <div>
                    <br> <br> <br> <br>
                    <p style="float: left; color: gray; margin-left: 100px;">Novo na Xhoppi?</p>
                    <a style="float: right; color: orangered; margin-right: 100px; margin-top: 16px;" href="cadastro.html">Cadastrar</a>

                </div>
            </div>
        </div>
        <div id="fundo">

        </div>
    </body>
</html>